/*
https://help.obsidian.md/Editing+and+formatting/Callouts#:~:text=To%20create%20a%20callout%2C%20add,the%20callout%20looks%20and%20feels.
*/

.callout[data-callout="exercise"] {
    --callout-color: 140, 140, 140;
    --callout-icon: lucide-flask-conical;
}


.callout[data-callout="activity"] {
    --callout-color: 131, 131, 255;
    --callout-icon: 'lucide-check-square';
}

.callout[data-callout="story"] {
    --callout-color: 190, 190, 90;
    --callout-icon: 'lucide-book-open-text';
}

/*IMAGE CAPTION8*/
/*https://forum.obsidian.md/t/caption-image-center-image-works-with-preview-mode/60086*/
/* reading mode */
.image-embed[alt]:after {
    content: attr(alt);
    display: block;
    margin: 0.2rem 1rem 0.2rem 1rem;
    font-size: 90%;
    line-height: 1.4;
    color: var(--text-faint);
    text-align: center;

}
/* source view and live preview */
.image-embed[alt]:after {
    content: attr(alt);
    display: block;
    margin: 0.2rem 1rem 0.2rem 1rem;
    font-size: 90%;
    line-height: 1.4;
    color: var(--text-faint);
    text-align: center;
}

/* reading mode */
img {
        display: block !important;
	margin-top: 1rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
}
    
 .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
}
/* source view and live preview */
img {
        display: block !important;
	margin-top: 1rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
}
    
 .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
}


/* TOS */
p.toc-entry {
  margin: 1px;
  padding: 1px;
}

.toc-entry {
  display: flex;
  align-items: center;
}

.toc-title {
  white-space: nowrap;
}

.toc-dots {
  flex: 1;
  border-bottom: 1px dotted #888;
  margin: 0 0.5em;
}

.toc-page {
  white-space: nowrap;
}

/* Additional indent for sub sections */
.toc-entry.subsection {
  margin-left: 20px;  /* Adjust indent as needed */
}

/* For deeper levels, you can add additional rules */
.toc-entry.subsection-2 {
  margin-left: 40px;
}
